:root {
  --sec-5-bg: #F3F3F3;
  --sec-5-h2-color: #252B42;
  --sec-5-second-text-color: #737373;
  --sec-5-card-light-bg: #FFF;
  --sec-5-card-text-color: #D0A144;
}
.sec-5 {
  background: var(--sec-5-bg);
}
.sec-5-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 80px 0;
}
.sec-5-text  h2{
    font-family: Martel;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: var(--sec-5-h2-color);
}
.sec-5-text p{
    font-family: Open Sans;
    width: 270px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--sec-5-second-text-color);
}
.s-5-card-1, .s-5-card-3 {
    background: var(--sec-5-card-light-bg);
    padding: 50px 60px;
    color: var(--sec-5-h2-color);
}
.s-5-card-2{
    background: var(--sec-5-h2-color);
    padding: 80px 60px;
    color: var(--sec-5-card-light-bg);
}
.s-5-cards{
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}
.s-5-cards div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s-5-cards img {
    margin-bottom: 15px;
}
.s-5-cards div h6{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.s-5-cards div h5{
    font-family: Martel;
    margin: 15px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}
.s-5-cards button {
    background: transparent;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    border: 1px solid var(--sec-5-card-text-color);
    color: var(--sec-5-card-text-color);
    cursor: pointer;
    transition: background 1s;
}
@media only screen and (min-width: 768px) {
    .sec-5-content{
        padding: 0 20px;
    }
    .s-5-cards{
        flex-direction: row;
        gap: 0;
    }
    .sec-5-text p{
        width: 430px;
    }
    .sec-5-btn-1, .sec-5-btn-2, .sec-5-btn-3 {
        background-color: transparent;
    }
    .sec-5-btn-1:hover, .sec-5-btn-3:hover {
        background-color: var(--sec-5-h2-color);
    }
    .sec-5-btn-2:hover{
        background-color: var(--sec-5-card-light-bg);
    }

}
